h1{
  text-align: center;
}
.container-cart{
position: absolute;
right: 0;
top: 50;
width: 400px;
background-color: rgba(120, 120, 120, 0.8);
}
.header-cart{
display: flex;
justify-content: space-between;
}
.ptoduct-cart{
display: flex;
flex-direction: row;
align-items: flex-end;
padding: 10px;
border: 5px solid black;
}
.image-cart{
width: 100%;
}
/* .info-cart{
  /* color: aliceblue; */
